<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Departamento Internal</title>
    <link rel="stylesheet" type="text/css" href="<%= css %>" media="all" />
  </head>
  <body>
    <hgroup>
      <header>
      <h1>El Departamento de la Comida</h1>
      <h4 id="logStatus"></h4>
      </header>
    </hgroup>
    <div id="view">
    </div>
    <script type="text/javascript" src="<%= js %>"></script>
  </body>
</html>
