<div class="farmerInfo">
  <label for="farmer">Farmer:</label>
  <input type="text" id="farmer" name="farmer"/>
  <label for="farmerId">Farmer Id:</label>
  <input type="text" id="farmerId" name="farmerId"/>
  <button class="btn btn-sm btn-info" name="import">Import</button>
</div>
<div class="table-responsive">
<table class="table" id="orders">
  <label></label>
  <tr class="labels">
    <th><label for="product">Products:</label></th>
    <th><label for="quantity">Quantity:</label></th>
    <th><label for="unit">Unit:</label></th>
    <th><label for="price">Unit Price:</label></th>
    <th><label for="productPrice">Total Price:</label></th>
  </tr>

</table>
</div>
<button type="button" class="btn btn-lrg" id="addProduct">Add a Product</button>
<div>
  <label for="shipping">Transportación (10% o 10$)</label>
  <input type="checkbox" name="transportation" value="true" id="shipping">
</div>
<div>
  <label for="notes">Notes:</label>
  <textarea class="form-control" rows="3"name="notes">Write any notes here</textarea>
</div>
<div>
  <button class="btn btn-lrg btn-primary" type="submit">Submit</button>
</div>
<div class="totals">
  <label for="subtotal">Subtotal |
    <h3 id="subtotal"></h3>
  </label>
  <label for="shippingCosts">Shipping Costs
    <h3 id="shippingCosts"></h3>
  </label>
  <label for="total">Total:
    <h1 id="total"></h1>
  </label>
</div>

