 <div>
 <label for="customerName">Customer Name:</label>
 <input type="text" id="customerName" name="customerName">
 </div>
 <div class="table-responsive">
<table id="sales" class="table">
  <tr class="labels">
    <th><label for="productName">Products:</label></th>
    <th><label for="quantity">Quantity:</label></th>
    <th><label for="farmerInitials">Farmer Initials:</label></th>
  </tr>
</table>
</div>
<button type="button" class="btn btn-lrg" id="addProduct">Add a Product</button>
  <div>
  <label for="shipping">Transportación (10% o $10)</label>
  <input type="checkbox" name="shipping" value="shipped">
  <label for="delivery">Delivery:</label>
  <input type="number" name="delivery" id="delivery" value="0">
</div>
<div>
  <label for="notes">Notes:</label>
  <textarea class="form-control" rows="3"name="notes">Write any notes here</textarea>
</div>
<div>
  <button class="btn btn-lrg btn-primary" type="submit">Calculate</button>
</div>
<div class="totals">
<div>
  <label for="subtotal">Subtotal:
    <h3 id="subtotal"></h3>
  </label>
  </div>
  <div>
  <label for="shippingCosts">Transportación:
    <h3 id="shippingCosts"></h3>
  </label>
  </div>
  <label for="total">Total:
    <h1 id="total"></h1>
  </label>
</div>