 <div>
 <label for="customerName">Customer Name:</label>
 <input type="text" id="customerName" name="customerName">
 <label for="customerEmail">Email:</label>
 <input type="text" id="customerEmail" name="customerEmail">
 </div>
 <div class="table-responsive">
<table id="sales" class="table">
  <tr class="labels">
    <th><label for="productName">Products:</label></th>
    <th><label for="quantity">Quantity:</label></th>
    <th><label for="farmerInitials">Farmer Initials:</label></th>
  </tr>
</table>
</div>
<button type="button" class="btn btn-lrg" id="addProduct">Add a Product</button>
  <div>
  <label for="shipping">Shipped?</label>
  <input type="checkbox" name="shipping" value="shipped">
  <label for="delivery">Delivery:</label>
  <input type="number" name="delivery" id="delivery" value="0">
</div>
<div>
  <label for="notes">Notes:</label>
  <textarea class="form-control" rows="3"name="notes">Write any notes here</textarea>
</div>
<div>
  <button class="btn btn-lrg btn-primary" type="submit">Calculate</button>
</div>
<div>
  <label for="total">Total:</label>
  <h3 id="total"></h3>
</div>
</form>
