  <td>
    <input type="text" class="product" name="product"/>
  </td>
  <td>
    <input type="number" class="quantity" name="quantity"/>
  </td>
  <td>
    <select name="unit" class="unit">
      <option value="oz">oz</option>
      <option value="lb">lb</option>
      <option value="1/2">1/2 lb</option>
      <option value="1/4">1/4 lb</option>
      <option value="unit" selected>unit</option>
    </select>
  </td>
  <td>
    <input type="number" class="price" name="price"/>
  </td>
  <td>
    <h3 class="productPrice"></h3>
  </td>
  <td>
    <button class="btn btn-danger">DELETE</button>
  </td>
