<tr class="productRow">
  <td>
    <input type="text" class="productName" name="productName"/>
  </td>
  <td>
    <input type="text" class="quantity" name="quantity"/>
  </td>
  <td>
    <select name="unit" class="unit">
      <option value="oz">oz</option>
      <option value="lb">lb</option>
      <option value="unidad" selected>unit</option>
    </select>
  </td>
  <td>
    <input type="text" class="price" name="price"/>
  </td>
  <td>
    <h3 class="productPrice"></h3>
  </td>
  <td>
    <button class="btn btn-danger">DELETE</button>
  </td>
</tr>