<ul class="nav nav-sidebar">
  <li class="active"><a href="#">Overview</a></li>
  <li><a href="#dashboard/reports">Reports</a></li>
  <li><a href="#dashboard/analytics">Analytics</a></li>
  <li><a href="#dashboard/reminders">Reminders</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="#employees">Employees</a></li>
  <li><a href="#orders">Orders</a></li>
  <li><a href="#sales">Sales</a></li>
  <li><a href="#inventory">Inventory</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="#orders/log">Log Order</a></li>
    <li><a href="#sales/log">Log Sale</a></li>
</ul>
